.italic { font-style: italic; }
.strike { text-decoration: line-through; }

.underline { text-decoration: underline; }
.underline-hover:hover { text-decoration: underline; }

.no-underline { text-decoration: none; }
.no-underline-hover:hover { text-decoration: none; }
