.pf-form-check {
	margin-bottom: $spacer-01;

	// Remove bottom margin of last check wrapper to remove
	// margin space for consistent spacing of elements.

	&:last-child,
	&:last-of-type {
		margin-bottom: 0;
	}

	> label {
		position: relative;
		display: inline-block;
		min-height: $check-size;
		padding-left: calc(#{$check-size} + #{$spacer-02});
		font-weight: $font-weight-normal;
		line-height: $lh-small;
		cursor: pointer;
		touch-action: manipulation;

		// Add input hover interaction colour as a hint
		// to the user that inputs can be toggled on/off

		/* stylelint-disable max-nesting-depth */
		&:hover {
			> input {
				&:not(:disabled) ~ span::before {
					@include checkRing($check-border-color-hover);
				}
			}
		}

		/* stylelint-enable max-nesting-depth */

		> input {
			@include visually-hidden();
			top: $check-size;
			left: $check-size / 2;
			// Border colour when checked
			&:not(:disabled):checked ~ span::before {
				@include checkRing($check-color-checked);
			}
			// Border colour on focus
			&:not(:disabled):focus ~ span::before {
				@include checkRing($check-color-checked);
			}
			// Border colour to show which check has focus
			// e.g tabbing through a list of checked elements
			&:not(:disabled):checked:focus ~ span::before {
				@include checkRing($teal-dark);
			}
		}

		// Check & radio appearance
		> span::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: $check-size;
			height: $check-size;
			background-color: $check-background-color;
			background-position: center center;
			background-repeat: no-repeat;
			content: '';
			transform: translateY(-50%);
			transition-duration: $transition-duration-1;
			transition-property: background-color, box-shadow;

			@include checkRing($check-border-color);
		}
	}

	// Checkbox appearance

	input[type="checkbox"] {
		&:checked ~ span::before {
			background-color: $bg-teal;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23fff' d='M10 3.586L11.414 5 6 10.414 2.586 7 4 5.586l2 1.999z'/%3E%3C/svg%3E");
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	// Radio appearance

	input[type='radio'] {
		~ span {
			&::before {
				border-radius: 50%;
			}

			&::after {
				position: absolute;
				top: 50%;
				left: 5px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				content: '';
				transform: translateY(-50%);
				transition: background-color $transition-duration-1;
			}
		}

		// Checked states
		// - Inner circle
		&:checked ~ span::after {
			background-color: $white;
		}
		// - Outer circle
		&:checked ~ span::before {
			background-color: $check-color-checked;
		}
	}

	// Disabled appearance

	input[type="checkbox"],
	input[type='radio'] {
		&:disabled {
			~ span::before {
				@include inputDisabled;
			}
		}
	}
}
