body {
	background-color: $bg-white;
	color: $body-font-colour;
	font-family: $body-font;
	font-size: $body-font-size;
	line-height: $body-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
