small {
	font-size: 90%;
}

blockquote {
	margin: 0;
}

a {
	color: $body-link;
	text-decoration: none;
}

b,
strong {
	font-weight: $font-weight-bold;
}


// Horizontal Rule

hr {
	height: 0;
	background: transparent;
	border: 0;
	border-bottom: 1px solid $border-grey-light;
	overflow: hidden;

	@include clearfix;
}
