.min-w-0 { min-width: 0px; } // stylelint-disable-line
.min-w-full { min-width: 100%; }

@each $breakpoint, $variant in $responsive-variants-only {
	@include breakpoint($breakpoint) {
		.min-w-0-#{&\@}#{$variant} { min-width: 0px; } // stylelint-disable-line
		.min-w-full-#{&\@}#{$variant} { min-width: 100%; }
	}
}
