select {
	display: inline-block;
	max-width: 100%;
	padding-right: $spacer-06;
	background-color: $bg-white;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M13.47 11.94L14.53 13 10 17.53 5.47 13l1.06-1.06L10 15.408l3.47-3.47zM10 1.94l4.53 4.53-1.06 1.06L10 4.061l-3.47 3.47L5.47 6.47 10 1.94z'/%3E%3C/svg%3E");
	background-position: right $spacer-02 center;
	background-repeat: no-repeat;
	background-size: auto $spacer-04;
	appearance: none;
}
